@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-zinc-800 text-zinc-50;
}

@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  src: url("/fonts/Gilroy-Light.otf") format("otf");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  src: url("/fonts/Gilroy-Extrabold.otf") format("otf");
}
